<!-- <mat-toolbar class="dialog-info" [ngClass]="color">
  <div class="title-background">
    <span>Title</span>
  </div>
  <mat-icon mat-dialog-close="">clear</mat-icon>
</mat-toolbar>


<div class="message" [ngClass]="this.data.type">
  <mat-icon>{{icon}}</mat-icon>
  <p class="title">{{this.data.message}}</p>
</div>

<div mat-dialog-actions class="btn-dialog-actions">
  <button mat-dialog-close="">Close</button> -->
  <!-- <button mat-stroked-button class="mgr-20">Save</button> -->
<!-- </div> -->
