<div class="card card-profile widget-item p-0">
  <div class="profile-banner">
    <figure class="profile-banner-small">
      <button (click)="navigatePageService.navigateToPage('/profile')">
        <img src="assets/images/banner/banner-small.jpg" alt="">
      </button>
      <button (click)="navigatePageService.navigateToPage('/profile')" class="profile-thumb-2">
        <img src="assets/images/profile/profile-midle-1.jpg" alt="">
      </button>
    </figure>
    <div class="profile-desc text-center">
      <h6 class="author"><a href="profile.html">Dimbel Lebmid</a></h6>
      <p>Any one can join with but Social network us if you want Any one can join with us if you want</p>
    </div>
  </div>
</div>
