<div class="dialog-container">
  <div class="dialog-header">
    <h3 class="post-title">Linh's Post</h3>
    <button mat-icon-button>
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <div class="dialog-content">
    <div class="content-top">
      <div class="content-top-left">
        <div _ngcontent-kni-c115="" class="profile-thumb">
          <a _ngcontent-kni-c115="" href="#">
            <figure _ngcontent-kni-c115="" class="profile-thumb-middle">
              <img _ngcontent-kni-c115="" src="assets/images/profile/profile-small-1.jpg" alt="profile picture">
            </figure>
          </a>
        </div>
        <div _ngcontent-etd-c115="" class="posted-author">
          <h6 _ngcontent-etd-c115="" class="author"><a _ngcontent-etd-c115="" href="profile.html">merry watson</a></h6>
          <span _ngcontent-etd-c115="" class="post-time">20 min ago</span>
        </div>
      </div>
      <div class="content-top-edit">
        <div _ngcontent-vym-c115="" class="post-settings-bar"><span _ngcontent-vym-c115=""></span><span
            _ngcontent-vym-c115=""></span><span _ngcontent-vym-c115=""></span>
          <div _ngcontent-vym-c115="" class="post-settings arrow-shape">
            <ul _ngcontent-vym-c115="">
              <li _ngcontent-vym-c115=""><button _ngcontent-vym-c115="">copy link to adda</button></li>
              <li _ngcontent-vym-c115=""><button _ngcontent-vym-c115="">edit post</button></li>
              <li _ngcontent-vym-c115=""><button _ngcontent-vym-c115="">embed adda</button></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="content-center">
      <span class="content-text" >
        {{"Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy." | summary: 100}}
      </span>
      <div class="content-img">
        <img src="assets/images/post/post-1.jpg" alt="">
      </div>

      <div class="content-action">
        <div class="like-action">
          <button _ngcontent-fwq-c102="" class="like-button active">
            <img _ngcontent-fwq-c102="" src="assets/images/icons/heart.png" alt="" class="heart">
            <!-- <img _ngcontent-fwq-c102="" src="assets/images/icons/heart-color.png" alt="" class="heart-color"> -->
          </button>
          <span>222</span>
        </div>
        <div class="comment-and-share">
          <button _ngcontent-uwx-c115="" class="post-comment"><i _ngcontent-uwx-c115="" class="bi bi-chat-bubble"></i><span _ngcontent-uwx-c115="">41</span></button>
          <button _ngcontent-htc-c115="" class="post-share"><i _ngcontent-htc-c115="" class="bi bi-share"></i><span _ngcontent-htc-c115="">07</span></button>
        </div>
      </div>
    </div>
    <div class="comment-area">
      <div class="comment-bean">
        <div class="bean-img">
          <img src="assets/images/profile/profile-small-1.jpg" alt="">
        </div>
        <span class="bean-content">
          <h5 class="content-title">Linh Nguyen</h5>
          <p class="content-text">
            So Beautiful
          </p>
        </span>
      </div>
      <div class="comment-bean">
        <div class="bean-img">
          <img src="assets/images/profile/profile-small-1.jpg" alt="">
        </div>
        <span class="bean-content">
          <h5 class="content-title">Linh Nguyen</h5>
          <p class="content-text">
            Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text
          </p>
        </span>
      </div>
      <div class="comment-bean">
        <div class="bean-img">
          <img src="assets/images/profile/profile-small-1.jpg" alt="">
        </div>
        <span class="bean-content">
          <h5 class="content-title">Linh Nguyen</h5>
          <p class="content-text">
            Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
          </p>
        </span>
      </div>

      <div class="comment-bean">
        <div class="bean-img">
          <img src="assets/images/profile/profile-small-1.jpg" alt="">
        </div>
        <span class="bean-content">
          <h5 class="content-title">Linh Nguyen</h5>
          <p class="content-text">
            Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text
          </p>
        </span>
      </div>
    </div>
  </div>
  <div class="comment-action">
    <div class="comment-area">
      <mat-form-field>
        <input matInput placeholder="Write something...">
        <mat-icon matSuffix>send</mat-icon>
      </mat-form-field>
    </div>
  </div>
</div>
